{{outlet}}
<nav class="navbar navbar-default">
  <ul class="nav navbar-nav navbar-right">
    <li><a href="#" {{action 'logout'}}>Logout</a></li>
    <li class="disabled"><a>{{user}}</a></li>
  </ul>
</nav>

<form {{action 'addInput' on='submit'}}>
  <fieldset class="form-group">
    <label for="exampleTextarea">Write your input here</label>
    {{textarea class="form-control" type="text" value=textInput rows="3" maxlength="255"}}
  </fieldset>
   <button type="submit" class="btn btn-primary">Submit</button>
</form>

<table class="table">
  <thead>
    <tr>
      <th>#</th>
      <th>Input</th>
      <th>User Email</th>
      <th>Creation Date</th>
    </tr>
  </thead>
  <tbody>
    {{#each allHashed as |hash|}}
      <tr>
        <th scope="row">{{hash.hash}}</th>
        <td>{{hash.input}}</td>
        <td>{{hash.userEmail}}</td>
        <td>{{hash.createdAt}}</td>
      </tr>
    {{/each}}
  </tbody>
</table>
